<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chapters - Eureka</title>
  <link rel="stylesheet" href="../../../../css/style.css">
</head>
<body>
  <div>
    <h2>Capítulos</h2>
    <!-- Formulario para añadir un nuevo capítulo -->
    <div>
      <h3>Añadir nuevo capítulo</h3>
      <form ng-submit="vm.addChapter()">
        <label for="description">Descripción:</label><br>
        <input type="text" id="description" name="description" ng-model="vm.newChapter.description"><br>
        <label for="totalCost">Coste total:</label><br>
        <input type="number" id="totalCost" name="totalCost" value="0" ng-model="vm.newChapter.totalcost"><br>
        <label for="totalSale">Costo de venta:</label><br>
        <input type="number" id="totalSale" name="totalSale" value="0" ng-model="vm.newChapter.totalsale"><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Coste total</th>
            <th>Costo de venta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="chapter in vm.chapters">
            <td>{{ chapter.description }}</td>
            <td>{{ chapter.totalcost }}</td>
            <td>{{ chapter.totalsale }}</td>
            <td>
              <button ng-click="vm.updateChapter(chapter); chapter.editMode = false">Guardar</button>
              <button ng-click="vm.deleteChapter(chapter.id)">Eliminar</button>
              <button ng-click="vm.viewBatches(chapter)">Ver Lotes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>