<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batches - Eureka</title>
  <link rel="stylesheet" href="../../../../css/style.css">
</head>
<body>
  <div>
    <h2>Partidas</h2>
    <div>
        <h3>Añadir nueva partida</h3>
        <form ng-submit="vm.addBatch()">
          <label for="rank">Rango:</label><br>
          <input type="number" id="rank" name="rank" ng-model="vm.newBatch.rank"><br>
          <label for="description">Descripción:</label><br>
          <input type="text" id="description" name="description" ng-model="vm.newBatch.description"><br>
          <label for="mount">Montaje:</label><br>
          <input type="number" id="mount" name="mount" ng-model="vm.newBatch.mount"><br>
          <label for="materialcost">Costo de material:</label><br>
          <input type="number" id="materialcost" name="materialcost" ng-model="vm.newBatch.materialcost"><br>
          <label for="labourcost">Costo de mano de obra:</label><br>
          <input type="number" id="labourcost" name="labourcost" ng-model="vm.newBatch.labourcost"><br>
          <label for="totalcost">Costo total:</label><br>
          <input type="number" id="totalcost" name="totalcost" ng-model="vm.newBatch.totalcost"><br>
          <label for="unitarycost">Costo unitario:</label><br>
          <input type="number" id="unitarycost" name="unitarycost" ng-model="vm.newBatch.unitarycost"><br>
          <label for="totalsale">Venta total:</label><br>
          <input type="number" id="totalsale" name="totalsale" ng-model="vm.newBatch.totalsale"><br>
          <input type="submit" value="Añadir">
        </form>
      </div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th><button ng-click="vm.sortBatches('rank')">Rango</button></th>
            <th><button ng-click="vm.sortBatches('description')">Descripción</button></th>
            <th><button ng-click="vm.sortBatches('mount')">Monto</button></th>
            <th><button ng-click="vm.sortBatches('materialcost')">Coste material</button></th>
            <th><button ng-click="vm.sortBatches('labourcost')">Coste laboral</button></th>
            <th><button ng-click="vm.sortBatches('unitarycost')">Coste unitario</button></th>
            <th><button ng-click="vm.sortBatches('totalcost')">Coste total</button></th>
            <th><button ng-click="vm.sortBatches('totalsale')">Coste venta</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="batch in vm.batches">
            <td ng-hide="batch.editMode">{{ batch.rank }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.rank"></td>
            
            <td ng-hide="batch.editMode">{{ batch.description }}</td>
            <td ng-show="batch.editMode"><input type="text" ng-model="batch.description"></td>
            
            <td ng-hide="batch.editMode">{{ batch.mount }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.mount"></td>
            
            <td ng-hide="batch.editMode">{{ batch.materialcost }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.materialcost"></td>
            
            <td ng-hide="batch.editMode">{{ batch.labourcost }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.labourcost"></td>
            
            <td ng-hide="batch.editMode">{{ batch.unitarycost }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.unitarycost"></td>
            
            <td ng-hide="batch.editMode">{{ batch.totalcost }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.totalcost"></td>
            
            <td ng-hide="batch.editMode">{{ batch.totalsale }}</td>
            <td ng-show="batch.editMode"><input type="number" ng-model="batch.totalsale"></td>
            <td>
                <button ng-show="batch.editMode" ng-click="vm.updateBatch(batch); batch.editMode = false">Guardar</button>
                <button ng-click="vm.editBatch(batch)">Editar</button>
              <button ng-click="vm.deleteBatch(batch.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>